header {
    color: #333333;
    border: 1px solid #f28d9b;
    border-radius: 10px;
    margin-left: 90px;
    margin-top: 60px;
    margin-right: 90px;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-information {
    flex: 1;
}

.secondary-text {
    color: #7f7f7f
}

.link {
    color: #999999;
    margin-right: 10px;
}

.pfp {
    width: 180px;
    margin-right: 50px;
}

.projects-body {
    margin: 50px;
    color: #333333;
    border: 1px solid #f28d9b;
    border-radius: 10px;
    padding: 30px;
}

.projects {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.project-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border: 1px solid #DDDDDD;
    border-radius: 8px;
    padding: 10px;
    width: calc(50% - 20px);
    box-sizing: border-box;
}

.project-title:hover {
    box-shadow: 0 0 0 3px #e0e0e0;
}

.project-title img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.project-sf, .project-cb {
    font-weight: bold;
    color: #333333;
}

.home-btn {
    margin-left: 30px;
    margin-top: 30px;
    color: #787878;
}

h5 {
    color: #4d4d4d;
    margin: 0;
}

.img {
    width: 100%;
}

.media-body {
    border: 1px solid #f2b28d;
    margin: 30px 130px;
    color: #333333;
    border-radius: 10px;
    padding: 30px;
}

.senior-body {
    border: 1px solid #A4D269;
    margin: 30px 130px;
    color: #333333;
    border-radius: 10px;
    padding: 30px;
}

@media only screen and (max-width: 720px) {
    /* For mobile phones: */
    .project-title {
        width: 100%;
    }

    .senior-body {
        margin-left: 10px;
        margin-right: 10px;
    }

    .media-body {
        margin-left: 10px;
        margin-right: 10px;
    }

    header {
        margin-left: 10px;
        margin-right: 10px;
    }

    .projects-body {
        margin: 10px;
        margin-top: 20px;
    }

    body {
        font-size: 13px;
    }
}
